.menu{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 25px;
    backdrop-filter: blur(25px);
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 90%;
    align-self: center;
  }
  .icon{
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
    border-radius: 50%;
    margin: 5px;
    background-color: transparent;
    border: none;
    position: relative;
  }
  .icon:hover{
    background-color: rgb(100,121,105);
  }
  .icon::after {
    content: attr(data-title);
    position: absolute;
    bottom: -1rem; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(100,121,105); 
    color: #fff; 
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.2s ease-in-out;
    white-space: nowrap;
  }
  
  .icon:hover::after {
    opacity: 1; 
  }