.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #1C3A63;  
    padding: 1rem;
}
.title {
  color: #F7F9FC;
  text-align: center;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    align-self: center;
  }
  .icon{
    color: #F7F9FC;
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
    border-radius: 50%;
    margin: 5px;
    background-color: transparent;
    border: none;
    position: relative;
  }
  .icon:hover {
    color: #A8B2D1;
  }
  .contact {
    background-color: #8CBF9E;
    color: #F7F9FC;
    position: relative;
    width: 150px;
    border: none;
    padding: 1em;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    letter-spacing: 1px;
    box-shadow: #6F908A 0px 7px 2px, #000 0px 8px 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .contact:hover {
    transform: scale(0.95);
  }
  
  .contact:active {
    top: 4px;
    box-shadow: rgb(75, 91, 79) 0px 3px 2px,#000 0px 3px 5px;
  }