.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: auto;
    background-color: #1C3A63;  
    padding: 5px 10px;
}
.title {
  color: #F7F9FC;
  text-align: center;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    align-self: center;
  }
  .icon{
    color: #F7F9FC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
    border-radius: 50%;
    margin: 5px;
    background-color: transparent;
    border: none;
    position: relative;
    gap: 8px;
  }
  .icon:hover {
    color: #A8B2D1;
  }
  .contact {
    background-color: #8CBF9E;
    color: #F7F9FC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    font-size: 14px;
    border: none;
    padding: 1em;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    letter-spacing: 1px;
    box-shadow: #6F908A 0px 7px 2px, #000 0px 8px 5px;
    cursor: pointer;
    margin-bottom: 10px;
    gap: 8px;
  }

  .contact:hover {
    transform: scale(0.95);
  }
  
  .contact:active {
    top: 4px;
    box-shadow: rgb(75, 91, 79) 0px 3px 2px,#000 0px 3px 5px;
  }
  .desktopMenu {
    display: none;
  }
  .mobileMenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 10;
    width: 200px;
  }
  .mobileMenu.active {
    display: flex;
  }
  .mobileMenuButton {
    display: none;
    background-color: #8CBF9E;
    color: #F7F9FC;
    font-size: 14px;
    position: relative;
    width: auto;
    border: none;
    padding: 1em;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    letter-spacing: 1px;
    box-shadow: #6F908A 0px 7px 2px, #000 0px 8px 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  @media (min-width: 768px) {
    .desktopMenu {
      display: flex;
      gap: 1rem;
    }
  
    .mobileMenuButton {
      display: none;
    }
  
    .mobileMenu {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .mobileMenuButton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .icon{
      color: #1C3A63;
    }
  
    .menu {
      display: none;
    }
  }