.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../public/r.jpeg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.center {
  background-color: rbga(64 ,64, 64, 0,15);
  border: 3px solid rbga(255 ,255, 255, 0,3);
  border-radius: 16px;
  backdrop-filter: blur(25px);
  width: 80%;
  height: 90%;
  color: white;
}