
.title {
  line-height: 1.15;
  text-align: center;
  width: 95%;
}

.main {
  border: 1px solid white;
  border-radius: 25px;
  backdrop-filter: blur(25px);
  width: 90%;
  height: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
  height: auto;
  padding: 10px;
}
.left, .right {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(50% - 10px); 
  min-width: 300px;
  height: auto; 
  box-sizing: border-box; 
}
.text{
  width: 95%;
  height: 95%;
  text-align: center;
  align-self: center;
}