.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('../public/r.jpeg');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
}

.center {
  border: 1px solid white;
  border-radius: 25px;
  backdrop-filter: blur(25px);
  width: 90%;
  height: 100%;
  color: white;
}

.menu{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 25px;
  backdrop-filter: blur(25px);
  height: 50%;
  justify-content: space-around;
  margin-right: 20px;
}
.icon{
  color: white;
  font-size: 22px;
  padding: 10px;
}