
.title {
  line-height: 1.15;
  text-align: center;
  width: 95%;
  align-self: flex-start;
  color: #1C3A63;
  opacity: 0; 
  transform: translateY(-20px); 
  animation: fadeInFromTop 1s ease-in-out forwards; 
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #F7F9FC;
  overflow: auto;
}

.subText {
  margin: 10px 0px;
  font-size: 20px;
  color: #4A4A4A;
  opacity: 0; 
  transform: translateY(-20px); 
  animation: fadeInFromTop 1s ease-in-out forwards; 
}

.text{
  margin: 10px 0px;
  color: #1C3A63;
  opacity: 0; 
  transform: translateY(-20px); 
  animation: fadeInFromTop 1s ease-in-out forwards; 
}

.list {
  list-style: disc;
  margin-left: 20px;
}
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}