
.title {
  line-height: 1.15;
  text-align: center;
}

.main {
  border: 1px solid white;
  border-radius: 25px;
  backdrop-filter: blur(25px);
  width: 90%;
  height: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.projets{
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  padding: 50px;
  gap: 30px;
  cursor: grab;
}

.projets:active{
  cursor: grabbing;
}

.card{
  min-width: 285px;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 400ms;
}
.img {
  width: 285px;
  height: 195px;
  border-radius: 25px 25px 0 0;
}
.text {
  text-transform: uppercase;
  color: rgb(100,121,105);
  padding: 10px;
}

.card:hover{
  transform: scale(1.3);
}

.projets:hover > .card:not(:hover) {
  filter: blur(3px);
  transform: scale(0.9, 0.9);
}

