.content{
    min-width: 285px;
    padding: .4em;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content:hover{
    transform: scale(1.2);
}
.img {
    width: 285px;
    height: 195px;
    border-radius: 6px;
}
.title {
    text-transform: uppercase;
    color: 'white';
}
