
.title {
  line-height: 1.15;
  text-align: center;
  width: 95%;
  height: auto;
  align-self: flex-start;
  color: #1C3A63;
  opacity: 0; 
  transform: translateY(-20px); 
  animation: fadeInFromTop 1s ease-in-out forwards; 
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #F7F9FC;
  overflow: auto;
}

.projets{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 20px;
  opacity: 0; 
  transform: translateY(-20px); 
  animation: fadeInFromTop 1s ease-in-out forwards; 
}

.card{
  width: 305px;
  border: 2px solid #A8B2D1;
  background-color: #F7F9FC;
  transition: 0.5s ease-out;
  overflow: visible;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  text-transform: uppercase;
  color: #1C3A63;
  padding: 10px;
  margin-top: 5px;
  font-weight: 800;
}
.textI {
  color: #4A4A4A;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.img{
  border-radius: 15px;
}

.button {
  background-color: #8CBF9E;
  color: #F7F9FC;
  position: relative;
  border: none;
  padding: 1em;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  letter-spacing: 1px;
  box-shadow: #6F908A 0px 7px 2px, #000 0px 8px 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button:hover {
  transform: scale(0.95);
}

.button:active {
  top: 4px;
  box-shadow: rgb(75, 91, 79) 0px 3px 2px,#000 0px 3px 5px;
}


.card:hover{
  transform: scale(1.05);
}

.boxText {
  width: 100%;
  height: 160px;
}

.textModal {
  color: #1C3A63;
  padding: 10px;
  font-weight: 800;
  margin-bottom: 0px;
}
.textInnerModal{
  color: #4A4A4A;
  padding: 10px;
  margin-bottom: 0px;
}
.imgModal{
  border-radius: 15px;
  align-self: center;
}
.images{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.modal{
  height: 100%;
  overflow: auto;
}

.list {
  list-style: disc;
  margin-left: 25px; 
}
.subText {
  color: #4A4A4A;
}
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}